<!DOCTYPE html>
<html ng-app="contatos">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-notification/angular-notification.min.js"></script>
    </head>
    <body ng-controller="ctrl_contatos">
        <div class="side-bar col-md-2">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="pesquisa">
                </div>
                <div class="container-icons">
                    <span class="glyphicon glyphicon-trash icons" ng-click="alterarExcluir();" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-plus icons" ng-click="mostarTelaContato = true" aria-hidden="true"></div>
                </div>
            </div>

            <div class="contatos col-md-10" ng-init="estilo ={width:'0'}">
                <div class="card" >
                    <ul class="lista-contatos col-md-12 lista-contatos">
                        <li data-contato="contato-{{contato.id}}"  class="list-group-item col-md-12 contato" ng-class="sumir" ng-style="{display:none}" ng-mouseenter="estilo = {width:'100px'}" ng-mouseleave="estilo ={width:'0'}" ng-repeat="contato in contatos |filter:pesquisa | orderBy:'nome'">
                            <div ng-style="estilo" class=" img-contato col-md-2"></div>
                            <div class=" info-contato col-md-10">
                                <h2 class="col-md-6">Nome:
                                    {{contato.nome}}</h2>
                                <h2 class="col-md-6" ng-pattern="/^[\u0030-\u0039]+$/">Nº:
                                    {{contato.numero}}</h2>
                            </div>
                            <div class="excluir-contato" ng-show="mostrarExcluir" ng-click="apagaContato($event, contato.id);">X</div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="adicionar-contato col-md-12" ng-show="mostarTelaContato">
                <div class="adicionar-contato-box">
                    <div class="dados center">
                        <h2>Adicionar Contato</h2>
                        <form class=""  name="novoContatoForm" action="index.html" method="post" novalidate>
                            <div class="input-group col-md-8 col-md-offset-2 input-in">
                                <span class="input-group-addon" id="basic-addon1">Nome</span>
                                <input type="text" class="form-control" name="nome"  ng-minlength="3" ng-model="novoContato.nome" placeholder="Nome"  required>
                            </div>

                            <div class="input-group col-md-8 col-md-offset-2 input-in">
                                <span class="input-group-addon" id="basic-addon1">Numero</span>
                                <input type="tel"  ng-maxlength="10" name="numero" ng-minlength="5" class="form-control" ng-model="novoContato.numero" placeholder="Numero" required>

                            </div>

                            <button type="button" ng-submit="adicionarContato(novoContato)" ng-disabled="novoContatoForm.$invalid" ng-click="adicionarContato(novoContato)" class="btn btn-default btn-lg">
                                Adicionar
                            </button>
                        </form>

                    </div>

                    <div class="excluir-contato" ng-show="true;" ng-click="mostarTelaContato = false">X</div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
