<!DOCTYPE html>
<html ng-app="contatos">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>

        <script type="text/javascript" src="bower_components/angular-notification/angular-notification.min.js"></script>
    </head>
    <body ng-controller="ctrl_contatos" ng-init="aba= 'contato';">

        <div class="side-bar col-md-2">
            <div class="col-md-12 icons-group">
                <div class="input-group col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" placeholder="Pesquisar..." ng-model="pesquisa">
                </div>
                <div class="container-icons">
                    <span class="glyphicon glyphicon-trash icons" ng-click="alterarExcluir();" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-plus icons" ng-click="mostarTelaContato = true" aria-hidden="true"></div>
                </div>
            </div>
        </div>

        <div class="nav-menu col-md-10">
         <a href="#/contatos">
            <div class="aba aba-contatos col-md-6"  ng-click="mudaCorAba($event,'contato')">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

            </div>
            </a>
            <a href="#/anotacoes">
            <div class="aba aba-anotacoes col-md-6 " ng-click="mudaCorAba($event,'anot')">
                  <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
            </div>
            </a>
        </div>

        <div ng-view></div>

        <adc-contato></adc-contato>

        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
